---
import '../styles/global.css';

import Header from './Header.astro';
import Footer from './Footer.astro';

const { title = '', description = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content={description}>
        <link rel="icon" href="/favicon.svg">
        <title> {title} </title>
        <script src="/lib/particles.js/particles.min.js" defer></script>
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/fonts/poppins-v20-latin-regular.woff2"
            crossorigin
        >
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/fonts/poppins-v20-latin-600.woff2"
            crossorigin
        >
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/fonts/poppins-v20-latin-500.woff2"
            crossorigin
        >
    </head>

    <body>
        <Header />

        <main class="main">
            <slot />
        </main>

        <Footer/>

        <a class="to-top-button" href="#top" title="Scroll Up" role="button">
            <svg viewBox="0 0 24 24">
                <use href="/icons/icons-set.svg#arrow-up"></use>
            </svg>
        </a>

        <div class="particles-bg-container">
            <canvas class="particles-bg"></canvas>
        </div>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let isPageScrolled = false;
        let areParticlesVisible = true;

        const header = document.querySelector('header.header');
        const toTopButton = document.querySelector('.to-top-button');
        const observerTarget = document.querySelector('.particles-bg');

        if (!header || !toTopButton || !observerTarget) {
            return;
        }

        const particles = Particles.init({ // eslint-disable-line no-undef
            selector: '.particles-bg',
            color: ['#9290C3', '#836FFF'],
            connectParticles: true,
            sizeVariations: 2,
            minDistance: 205,
            maxParticles: 30,
            speed: 0.275,
        });

        function handleScrollRelatedAnimation() {
            if (isPageScrolled) {
                header.classList.add('header_small');
            }
            else {
                header.classList.remove('header_small');
            }

            if (areParticlesVisible) {
                particles.resumeAnimation();
                // particles.pauseAnimation();
                toTopButton.removeAttribute('style');
            }
            else {
                particles.pauseAnimation();
                toTopButton.style.bottom = '20px';
            }
        }

        async function initIntersectionObserver() {
            const callback = (entries) => {
                if (entries[0].isIntersecting) {
                    isPageScrolled = entries[0].intersectionRatio < 0.95;
                    areParticlesVisible = true;
                }
                else {
                    areParticlesVisible = false;
                }

                handleScrollRelatedAnimation();
            };

            const options = {
                threshold: [0.1, 0.95],
            };

            const observer = new IntersectionObserver(callback, options);
            observer.observe(observerTarget);
        }

        initIntersectionObserver();
    }, { once: true });

</script>
